{% extends 'BaseBis.html.twig' %}

{% block body %}
    <div class="jumbotron text-center" >
            <h1>Livre édité</h1>
    </div>

        <table>
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Valider" class="btn btn-success" />
            {{ form_end(edit_form) }}

        
        
            <a href="{{ path('livres_index') }}"" class="btn btn-primary" >Retour à la liste des livres</a>
            
            
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer"" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </table>
       
{% endblock %}
