{% extends 'BaseBis.html.twig' %}

{% block body %}

  <div class="jumbotron text-center" >
            <h1>Listes des livres</h1>
  </div>
   

    <table class="table table-striped">
        <thead>
            <tr>                
                <th scope="col" ><h5>Titre</h5></th >
                <th scope="col"><h5>Auteur</h5></th >
                <th scope="col"><h5>Editeur</h5></th >
                <th scope="col"><h5>Paru le</h5></th >
                <th scope="col"><h5>Sous thème</h5></th>
                <th scope="col" colspan ="2" class="text-center" ><h5>Actions</h5></th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.editeur }}</td>
                <td>{% if livre.date %}{{ livre.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ livre.soustheme }}</td>
            
                <td>
                   
                            <a href="{{ path('livres_show', { 'id': livre.id }) }}" class="btn btn-primary">Afficher</a>
                        </td><td>
                            <a href="{{ path('livres_edit', { 'id': livre.id }) }}"class="btn btn-info">Editer</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
            <a href="{{ path('livres_new') }}" class="btn btn-primary">Créer un nouveau titre</a>
        
{% endblock %}
