{% extends 'BaseBis.html.twig' %}

{% block body %}
    
    <div class="jumbotron text-center" >
            <h1>Ajouter un nouveau titre</h1>
    </div>

<table>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer un nouveau titre" class="btn btn-primary"/>
        
    {{ form_end(form) }}

    
        <a href="{{ path('livres_index') }}" class="btn btn-primary">Retour à la liste</a>
    </table>
       
{% endblock %}
