{% extends 'BaseBis.html.twig' %}

{% block body %}

    <div>
    
         <div class="jumbotron text-center">
            <h1>Livre sélectionné</h1>
        </div>
<br></div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livre.description }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ livre.editeur }}</td>
            </tr>
            <tr>
                <th>Ean</th>
                <td>{{ livre.eAN }}</td>
            </tr>
            <tr>
                <th>Urlphoto</th>
                <td>{{ livre.urlPhoto }}</td>
            </tr>
            <tr>
                <th>Nbpages</th>
                <td>{{ livre.nbPages }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if livre.date %}{{ livre.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ livre.theme }}</td>
            </tr>
            <tr>
                <th>Soustheme</th>
                <td>{{ livre.sousTheme }}</td>
            </tr>
            <tr>
                <th>Nouveaute</th>
                <td>{% if livre.nouveaute %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Urlpiecejointe</th>
                <td>{{ livre.urlPieceJointe }}</td>
            </tr>
        </tbody>
    </table>

        <table>
            <th><a href="{{ path('livres_index') }}" class="btn btn-primary">Retour la liste</a></th>
        
        
            <th><a href="{{ path('livres_edit', { 'id': livre.id }) }} " class="btn btn-primary">Editer</a></th>
      
      
            <th>{{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}</th>
           </table>
       
{% endblock %}
