<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <script src="public/images/Couv.jpg"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.2/css/mdb.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="public\images\logolmd11.png" />
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" />
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{{ asset('public/CSS/Style.css') }}">    
    <title>{% block title %}Sagacitelink{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('public/images/logolmd11.png') }}" />
    <style>
    
  

        
    </style>
</head>

<body style="">


    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form action="{{ path('Connexion') }}" method="POST">

                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="orangeForm-email" class="form-control validate" placeholder="Votre email" name="mail">
                            <small id="mailHelpBlockMD" class="form-text invisible text-danger">
                                Votre adresse mail n'est pas valide (exemple@exemple.fr)
                            </small>
                        </div>


                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>

                            <input type="password" id="orangeForm-pass" class="form-control validate element-survole" placeholder="Votre mot de passe" name="pwd">
                            <small id="passwordHelpBlockMD" class="form-text invisible text-danger">
                                Votre adresse mot de passe n'est pas valide (Doit contenir impérativement 8-20 caractères, une lettres majuscule et une lettre
                                minuscule et un nombre)
                            </small>
                            <p class="font-small blue-text d-flex justify-content-end">
                                <a href="{{path('recupmdppage')}}" class="blue-text ml-1"> Mot de passe oublié ?</a>
                            </p>
                        </div>


                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary" id="validConnexion" title="Connexion">Connexion</button>
                </div>
                </form>
                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end">Vous n'avez pas de compte?
                        <a href="{{ path('creercomptepage')}}" class="blue-text ml-1">Créer votre compte</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark primary-color" style="z-index:999; position: fixed;width:100%">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ path('homepage') }}">Sagacitelink</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }} ">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recherchepage') }}">Recherche avancée</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contactpage') }}">Contact</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('presentationpage') }}">Présentation</a>
                </li>
                {% if (app.session.get('loginUser') == "NOconnexion" or app.session.get('loginUser') == NULL ) %}
                    <li class="nav-item">
                        <a href="" class="nav-link" data-toggle="modal" data-target="#modalRegisterForm">Connexion</a>
                     </li>
                {% endif %}
                {% if (app.session.get('loginUser') == "OKconnexion") %}                
                    <li class="nav-item">
                        <a href="{{path('Deconnexion')}}" class="nav-link text-danger" style="font-weight:50px;">Déconnexion</a>
                    </li>
                {% endif %}
                


            </ul>
            <!-- Links -->
            <form class="form-inline" action="{{path('resultatrecherche')}}" method="POST">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2 " type="text" placeholder="Titre, Auteur..." aria-label="Search" id="zone_recherche" name="autocomplatereche">
                    
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <br>
    <!--/.Navbar-->
    {% for message in app.session.flashBag.get('info') %}
    
    <button type="button" class="btn btn-primary invisible" data-toggle="modal" data-target="#sideModalBRSuccess" id="btnmoalcompt">
    Launch demo modal
    </button>
     <!-- Side Modal Bottom Right Success -->
     {% if (app.session.get('loginUser') == "OKconnexion") %}
            <div class="modal fade right" id="sideModalBRSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-success" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading lead">
                                Connexion acceptée                       
                            <p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodal">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">
                            <div class="text-center">
                                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                                <p>{{message}}</p>
                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                              
                            <a type="button" class="btn btn-success" href="{{path('modification')}}">parametres
                                <i class="fa fa-pencil-alt"></i>
                            </a>                           
                            <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal" >Non, merci</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
    {% endif %}
    <!-- Side Modal Bottom Right  danger-->
    {% if (app.session.get('loginUser') == "NOconnexion") %} 
     <div class="modal fade right" id="sideModalBRSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger " role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading lead">                             
                                Connexion refusée                            
                            <p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodal">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">
                            <div class="text-center">
                             <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                                <p>{{message}}</p>
                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                              
                            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalRegisterForm">Réessayer
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            
                            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" >Non, merci</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
    
            
  {% endif %}   
     
             
{% endfor %}

    <div class="container">
        <br>
        <br>
        <br>
        <!--Carousel Wrapper-->

        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->


            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                    <div class="row">
                        {% for livre in carousel | slice(0,3) %}

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap" style="height: 400px; width:350px">
                                <div class="card-body">
                                    <h4 class="card-title">{{livre.titre}}</h4>
                                    <p class="card-text">{{livre.auteur}}
                                        <br> {{livre.editeur}}</p>
                                    <a class="btn btn-secondary" href="{{ path('livre_show', { 'id': livre.id }) }}" style= "font-size: smaller;" title="Lire">Lire</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <div class="row">
                        {% for livr in carousel | slice(3,3) %}

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="{{ asset(livr.urlPhoto) }}" alt="Card image cap" style="height: 400px; width:350px">
                                <div class="card-body">
                                    <h4 class="card-title">{{livr.titre}}</h4>
                                    <p class="card-text">{{livr.auteur}}
                                        <br> {{livr.editeur}}</p>
                                    <a class="btn btn-secondary" href="{{ path('livre_show', { 'id': livr.id }) }}" style= "font-size: smaller;" title="Lire">Lire</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <!--/.Second slide-->

                <!--Third slide-->
                <div class="carousel-item">
                    <div class="row">
                        {% for livr in carousel | slice(6,3) %}

                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="{{ asset(livr.urlPhoto) }}" alt="Card image cap" style="height: 400px; width:350px">
                                <div class="card-body">
                                    <h4 class="card-title">{{livr.titre}}</h4>
                                    <p class="card-text">{{livr.auteur}}
                                        <br> {{livr.editeur}}</p>
                                    <a class="btn btn-secondary" href="{{ path('livre_show', { 'id': livr.id }) }}" style= "font-size: smaller;" title="Lire">Lire</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

        </div>

        <br>

        <div class="row">

            <div class="col-md-3">
                <!--Panel-->
                {% if sousmath|length > 0%}
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <font color="#A10684">{{backO.theme0}}</font>
                    </div>
                    <div class="card-body text-secondary">
                        {% for sm in sousmath %}
                        <a href="{{ path('sousTheme_show', {'sousTheme': sm.sousTheme}) }}">
                            <h5 class="card-title text-capitalize">{{sm.sousTheme}}</h5>
                        </a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                <!--/.Panel-->
                <!--Panel-->
                {% if sousbio|length > 0%}
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <font color="#A10684">{{backO.theme1}}</font>
                    </div>
                    <div class="card-body text-secondary">

                        {% for sb in sousbio %}
                        <a href="{{ path('sousTheme_show', {'sousTheme': sb.sousTheme}) }}">
                            <h5 class="card-title text-capitalize"> {{sb.sousTheme}}</h5>
                        </a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                <!--/.Panel-->
                <!--Panel-->
                {% if souschimie|length > 0%}
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <font color="#A10684">{{backO.theme2}}</font>
                    </div>
                    <div class="card-body text-secondary">
                        {% for sc in souschimie %}
                        <a href="{{ path('sousTheme_show', {'sousTheme': sc.sousTheme}) }}">
                            <h5 class="card-title text-capitalize">{{sc.sousTheme}}</h5>
                        </a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                 <!--/.Panel-->
                <!--Panel-->
                {% if sousindustrielles|length > 0%}
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <font color="#A10684">{{backO.theme3}}</font>
                    </div>
                    <div class="card-body text-secondary">

                        {% for lc in sousindustrielles %}
                        <a href="{{ path('sousTheme_show', {'sousTheme': lc.sousTheme}) }}">
                            <h5 class="card-title text-capitalize"> {{lc.sousTheme}}</h5>
                        </a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                <!--/.Panel-->
                  <!--Panel-->
                {% if souslettre|length > 0%}
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <font color="#A10684">{{backO.theme4}}</font>
                    </div>
                    <div class="card-body text-secondary">
                        {% for sl in souslettre %}
                        <a href="{{ path('sousTheme_show', {'sousTheme': sl.sousTheme}) }}">
                            <h5 class="card-title text-capitalize">{{sl.sousTheme}}</h5>
                        </a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                 <!--/.Panel-->
                   <!--Panel-->
                {% if sousInformatique|length > 0%}
                <div class="card mb-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <font color="#A10684">{{backO.theme5}}</font>
                    </div>
                    <div class="card-body text-secondary">
                        {% for si in sousInformatique %}
                        <a href="{{ path('sousTheme_show', {'sousTheme': si.sousTheme}) }}">
                            <h5 class="card-title text-capitalize">{{si.sousTheme}}</h5>
                        </a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}
                 <!--/.Panel-->
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-9">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/JS/autocomplate.js' %}
            <script src="{{ asset_url }}"></script> {% endjavascripts %} 
            {% javascripts '@AppBundle/Resources/public/JS/validation.js' %}
            <script src="{{ asset_url }}"></script> {% endjavascripts %} 
        {% endblock %}

        <!--Footer-->
    </div>
    </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Vers le haut">
<i class="fa fa-chevron-up" style="font-size:35px;color:white"></i></button>

    <footer class="page-footer font-small indigo pt-0" style="margin-top:250px">

        <!--Footer Links-->
        <div class="container">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-md-12 py-5">

                    <div class="mb-5 flex-center">

                        <!--Facebook-->
                        <a class="fb-ic" href="https://www.facebook.com/sagacitelinkcom-226785431118235" target="_blank">
                            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic" href="https://twitter.com/sagacitelink" target="_blank">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        

                        <!--Instagram-->
                        <a class="ins-ic" href="https://www.instagram.com/sagacitelink/" target="_blank">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        

                    </div>
                </div>
                <!--/First column-->
            </div>
            <!--/First row-->
        </div>
        <!--/Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © {{ "now"|date("Y") }} Copyright:
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> www.sagacitelink.com </a>
            
                 <a href="{{path('cgv')}}"> &nbsp;| &nbsp;Mentions légales</a>
                        
        </div>
        <!--/Copyright-->

    </footer>

</body>

</html>