{% extends 'base.html.twig' %} {% block title %}Resultat de Recherche{% endblock %} {% block body %}

<!-- Card -->
{% if titretrouve|length
< 4 %} {% for liv in titretrouve %} <div class="card card-cascade wider reverse mb-3">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="{{ asset(liv.urlPhoto) }}" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center">

        <!-- Title -->
        <h4 class="card-title">
            <strong>{{liv.titre}}</strong>
        </h4>
        <hr class="hr-dark">
        <!-- Subtitle -->
        <!-- Text -->
        <p class="card-text text-lowercase text-justify">{{liv.description}} </p>

    </div>
    <div class="card-footer text-left">

        <span class="font-weight indigo-text text-md-left">
            <b>Auteur : </b>{{liv.auteur}}</span>
        <br>
        <span class="font-weight indigo-text text-md-left">
            <b>Date de parution : </b>{{ liv.date|date("m/d/Y") }}</span>
        <br>
        <span class="font-weight indigo-text text-md-left">
            <b>Thème : </b>{{ liv.theme }}</span>
        <br>
        <span class="font-weight indigo-text text-md-left">
            <b>Nombre de pages : </b>{{ liv.nbPages }}</span>
        <br>
    </div>


    </div>

    {% endfor %} {% else %} {% for livre in math %}

    <div class="col-md-4">

        <!-- Card Dark -->
        <div class="card">

            <!-- Card image -->
            <div class="view zoom">

                <img class="card-img" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body elegant-color white-text rounded-bottom">


                <!-- Title -->
                <h5 class="card-title">{{livre.titre}}</h5>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text white-text mb-4">{{livre.auteur}}</p>
                <!-- Link -->
                <a href="{{ path('livre_show', { 'id': livre.id }) }}" class="white-text d-flex justify-content-end">
                    <h5>Lire
                        <i class="fa fa-angle-double-right"></i>
                    </h5>
                </a>

            </div>

        </div>
        <!-- Card Dark -->

    </div>
    {% endfor %} {% endif %} {% endblock %} {% block stylesheets %} {% endblock %}