<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br>
   <h1> Mentions légales</h1>
   <br>
   <blockquote>
    Les CGV sont obligatoires (imposée par les articles L. 111-1 et suivants du Code de la consommation), dans le secteur de la ventes aux particuliers (B2C).
    <br> En pratique, dès lors que les clients sont des particuliers (consommateurs), les CGV doivent obligatoirement être précisées lors d’un achat de produits ou de services.
    <br> Afin d’être opposables, les CGV doivent être à la fois portées à la connaissance du client de façon effective et expressément acceptées par ce dernier avant chaque opération de vente.
    <br> En règle générale, l’acceptation expresse des CGV se fait au moment de la vente, le client coche alors une case spécifique aux CGV.
    <br> Le client les reçoit également par mail une fois la vente effectuée.<br>    
     A noter : Si vous n’avez pas de CGV, les sanctions prévues par la loi sont de 3 000 euros pour les personnes physiques et de 15 000 euros pour les personnes morales.
    Les CGV dans le BtoB (vente aux professionnels)
    Les CGV relatives aux relations entre professionnels sont soumises au régime du Code de commerce (L441-6 du Code de commerce).
    <br> Ici, les conditions générales de vente ne sont pas obligatoires sauf à la demande du client.
    <br> La liste des clauses sont exhaustives et correspondent aux conditions de vente, au barème des prix unitaires, aux réductions de prix et aux conditions de règlement.<br>
    
    A noter : En cas de non-respect de l’obligation de communication des CGV à la demande d’un client professionnel, le vendeur professionnel s’expose à une amende civile d’un montant maximal de deux millions d’euros et à une amende administrative d’un montant maximal de 75 000 euros pour une personne physique et de 375 000 euros pour une personne morale.<br>
    Rédiger vos conditions générales de vente.<br>
    Les conditions générales de vente doivent obligatoirement comporter certaines informations :<br>
    Les conditions de vente ;<br>
    Le barème des prix unitaires ;<br>
    Les modalités de réduction de prix ;<br>
    Les conditions de règlement ;<br>
    Mentionner que tout retard de paiement entre professionnels rend désormais le débiteur redevable de plein droit d’une indemnité de 40 euros pour frais de recouvrement.<br>
    A noter : depuis l’entrée en vigueur de la loi Hamon, certains professionnels peuvent user de leur droit de rétraction sur les contrats conclus entre professionnels.
    <br> Ce droit est applicable sous trois conditions :<br>
    Le contrat doit être conclu hors établissement ;<br>
    L’objet du contrat ne doit pas entrer dans le champ d’activité principale de l’entreprise ;<br>
    Le nombre de salariés de l’entreprise doit être inférieur ou égal à cinq.<br>
    Contract Factory vous propose de rédiger vos conditions générales de vente en toute sécurité. 
    <br>Ainsi, vous éviterez de nombreux litiges liés à votre activité.
    <footer><a href="{{ path('homepage') }}"> www.sagacitelink.com </a>
    </footer>
    <blockquote>
    </div>

</body>
</html>