{% extends 'base.html.twig' %}
{% block title %} Contact {% endblock %}
{% block body %}
 {% for message in app.session.flashBag.get('infocontact') %}
 <script>
       $(document).ready(function () {   
       
        toastr.success('{{message}}',{positionClass: "toast-top-center"},{showDuration: 600},{escapeHtml:true},{progressBar: true}); 
        
        
    });
    </script>
{% endfor %}

<!-- Material form contact -->
<form action ="{{ path('contactpage')}} " method="POST">
<div class="card mb-9" style="max-width: 60rem;">
    <div class="card-header text-center" ><h3><font color="#A10684">Nous Contacter</font></h3></div>
    <div class="card-body text-secondary">
            <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="FormContactName" class="form-control" placeholder ="Votre nom" name="nom">
        <small id="nomHelpBlockMD1" class="form-text invisible text-danger">
                    Veuillez saisir votre nom (3-30 caractères)
                    </small>
    </div>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="FormContactMail" class="form-control" placeholder ="Votre mail" name="mail">
    <small id="mailHelpBlockMD1" class="form-text invisible text-danger">
                    Votre adresse mail n'est pas valide (exemple@exemple.fr)
                    </small>
    </div>
    
    <!-- Material input subject -->
    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input type="text" id="materialFormContactSubjectEx" class="form-control" placeholder ="Sujet" name="sujet">
        <small id="sujetHelpBlockMD1" class="form-text invisible text-danger">
                   Nombre de caractères trop long
                    </small>
       
    </div>
       
    <!-- Material textarea message -->
    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea type="text" id="FormContactMessage" class="form-control md-textarea" rows="3"placeholder="Votre message" name="message"></textarea>
      <small id="messageHelpBlockMD1" class="form-text invisible text-danger">
                    Veuillez saisir votre message 
                    </small>
    </div>
    

    <div class="text-center mt-4">
        <button class="btn btn-outline-secondary" type="submit" id="submitContact">Envoyer<i class="fa fa-paper-plane-o ml-2"></i></button>
    </div>
    </div>
</div> 
</form><br><br>

<!--Panel-->
<div class="row">
<div class= "col-md-6">
    <!--Panel-->
    
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      
    </style>
    <div id="map" class="card"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.766470, lng: 3.054253},
          zoom: 10
        });
         var marker = new google.maps.Marker({
    position: {lat: 36.766470, lng: 3.054253},
    map: map,
    title: 'Editions Al-Djazair'
  });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV2l4KgafvFJUShJpeGV2MZmrCKwFsAS0&callback=initMap"
    async defer></script>
</div>

<div class= "col-md-6">
    <!--Panel-->
<div class="card" style="max-width: 25rem;">
    <div class="card-header"><font color="#A10684">Coordonnées</font></div>
    <div class="card-body text-secondary">
      
        <p class="card-text">{{backO.adresse}}  <br> {{backO.telephone}}   <br>mail: {{backO.mail}} </p>
        <p class="card-text"></p>
    </div>
</div>
</div>

</div>

                 

            
{% endblock %}

{% block stylesheets %}
{% endblock %}
