{% extends 'base.html.twig' %}
{% block title %}Livre selectionné{% endblock %}
{% block body %}
 
<!-- Card -->
<div class="card card-cascade wider reverse divlivreselectionnee"
>

  <!-- Card image -->
  <div class="view zoom">
  <br>
    <img class="card-img-top imageselectionnee" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap">
    
  </div>

  <!-- Card content -->
  <div class="card-body text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>{{livre.titre}}</strong></h4>
        <hr class="hr-dark">
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text text-lowercase text-justify">{{livre.description}} </p>
    
    </div>
  <div class="card-footer text-left">
    
    <span class="font-weight indigo-text text-md-left"> <b>Auteur : </b>{{livre.auteur}}</span><br>
    <span class="font-weight indigo-text text-md-left"> <b>Date de parution : </b>{{ livre.date|date("m/d/Y") }}</span><br>
    <span class="font-weight indigo-text text-md-left"> <b>Thème : </b>{{ livre.theme }}</span><br>
    <span class="font-weight indigo-text text-md-left"> <b>Nombre de pages : </b>{{ livre.nbPages }}</span><br>
    {% if (app.session.get('loginUser') == "NOconnexion" or app.session.get('loginUser') == NULL ) %}
                 <span class="font-weight indigo-text text-md-left"><a data-toggle="modal" data-target="#modalRegisterForm"><b>Connectez vous pour telecharger ce livre </b></a></span><br>   
    {% endif %}
   </div>
    {% if (app.session.get('loginUser') == "OKconnexion") %}                
                    <a href=" {{ path('Download', { 'url': livre.urlPieceJointe }) }}" class="btnDownload"><i class="fa fa-download"></i> Download</a>
    {% endif %}
    


</div>
<br>
<!-- Card -->
            
            
{% endblock %}

{% block stylesheets %}

{% endblock %}
