{% extends 'base.html.twig' %}
{% block title %} Récuperation de mot de passe {% endblock %}
{% block body %}

{% for message in app.session.flashBag.get('infomail') %}
 <script>
       $(document).ready(function () {   
        {% if message|length < 40 %}           
        toastr.error('{{message}}',{positionClass: "toast-top-center"},{showDuration: 600},{escapeHtml:true},{progressBar: true}); 
        {% else %}
        toastr.success('{{message}}',{positionClass: "toast-top-center"},{showDuration: 600},{escapeHtml:true},{progressBar: true}); 
        
        {% endif %}
    });
    </script>
{% endfor %}
<form action="{{path('recupmdppage')}}" method="POST">
<!-- Material form contact -->
<div class="card mb-9" style="max-width: 60rem;">
    <div class="card-header text-center" ><h3><font color="#A10684">Récupérer votre mot de passe</font></h3></div>
    <div class="card-body text-secondary">
            <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="valideRecupNom" class="form-control"  placeholder ="Nom" name="nom">
        <small id="recupNomHelpBlockMD" class="form-text invisible text-danger"> 
           Vous devez saisir votre nom (3-30 caractères)
        </small>
        
    </div>
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="valideRecupPrenom" class="form-control" placeholder =" Prénom" name="prenom">
        <small id="recupPrenomHelpBlockMD" class="form-text invisible text-danger"> 
           Vous devez saisir votre prénom (3-30 caractères)
        </small>
        
    </div>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="email" id="validRecupEmail" class="form-control" placeholder ="Votre mail" name="mail">
         <small id="recupPwdHelpBlockMD" class="form-text invisible text-danger"> 
            Votre adresse mail n'est pas valide (exemple@exemple.fr)
        </small>
    
    </div>
   
    
    <div class="text-center mt-4">
        <button class="btn btn-outline-secondary" id ="validRecupPwd" type="submit">Recupérer<i class="fa fa-paper-plane-o ml-2"></i></button>
    </div>
</form>
                 

            
{% endblock %}

{% block stylesheets %}
{% endblock %}
