{% extends 'base.html.twig' %}

{% block body %}
<div class ="row example hoverable pt-3"  id = "sort">
<div class="col-md-2 mb-3">
  Triez par :
</div>
<div class="col-md-2 mb-3"><i class="fa fa-sort"></i>
{{ knp_pagination_sortable(sousTheme, 'Titre', 'l.titre') }}
</div>
<div class="col-md-2 mb-3"><i class="fa fa-sort"></i>
{{ knp_pagination_sortable(sousTheme, 'Auteur', 'l.auteur') }}
</div>
<div class="col-md-2 mb-3"><i class="fa fa-sort"></i>
{{ knp_pagination_sortable(sousTheme, 'Date', 'l.date') }}
</div>
<div class="col-md-2 mb-3"><i class="fa fa-sort"></i>
{{ knp_pagination_sortable(sousTheme, 'Editeur', 'l.editeur') }}
</div>

</div>
<br>
<div class ="row">

{% for livre in sousTheme %}
   <div class="col-md-4 mb-3">
      <div class="card">
        <!-- Card image -->
        <div class="view zoom">
          <img class="card-img-top" src="{{ asset(livre.urlPhoto) }}" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <p style=""><h5 class="card-title" >{{livre.titre}}</h5></p>
           <p class="card-text">{{livre.auteur}}
                                <br> {{livre.editeur}}
            </p>
              <a class="btn btn-secondary" href="{{ path('livre_show', { 'id': livre.id }) }}" style= "font-size: smaller;" title="Lire">lire plus</a>

        </div>
        <!-- Card content -->
      </div>
   </div>
  {%endfor%}
</div> 
<div class="navigation text-center">
                {{ knp_pagination_render(sousTheme) }}
            </div>
           
{% endblock %}



