<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vertical (basic) form</h2>
  <form action="{{path('resultatrecherche')}}" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter email" name="emaihhhl">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
 

  



  <nav class="navbar navbar-expand-lg navbar-dark primary-color" style="z-index:999; position: fixed;width:100%">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ path('homepage') }}">Sagacitelink</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }} ">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('recherchepage') }}">Recherche avancée</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contactpage') }}">Contact</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('presentationpage') }}">Présentation</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="modal" data-target="#modalRegisterForm">Connexion</a>
                </li>


            </ul>
            <!-- Links -->
            <form class="form-inline" action="{{path('resultatrecherche')}}" method="POST">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Titre, Auteur..." aria-label="Search" id="zone_recherche" name="email">
                    <button  type="submit">serch</button>
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
</div>

</body>
</html>
