{% trans_default_domain 'FOSUserBundle' %}

{% if error %}

    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    


        <div class="jumbotron text-center">
            <h1>Entrer votre login</h1>
        </div>



<form action="{{ path("fos_user_security_check") }}" method="post">
{% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
  <div class="form-group">

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username"  class="form-control" value="{{ last_username }}" required="required" autocomplete="username" />
  </div>

  <div class="form-group">
      <label for="password">{{ 'security.login.password'|trans }}</label>
     <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" />
  </div>
  <div class="checkbox">
    
   
    <label for="remember_me"> <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>
  </div>
 
  <input type="submit" id="_submit" name="_submit" class="btn btn-default" value="{{ 'security.login.submit'|trans }}" />
</form>
